body {
  color: $default;
  font-size: 16px;
  line-height: 22px;
  @extend %russo;
  background-color: #222;
}
.container{
  max-width: 1204px;
  padding: 0 32px;
  margin: 0 auto;
}
.title{
  @extend %russo;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
}
.btn-text {
  position: absolute;
  width: 295px;
  top: 25px;
  right: 50%;
  transform: translateX(50%);
  font-size: 24px;
  line-height: 29px;
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  color: $default;
}
.btn-svg {
  width: 295px;
  height: 87px;
  margin: 0 auto;
}